# Ignore node_modules in both Client and Server
server/node_modules/
client/node_modules/

# Ignore .env files in both Client and Server
server/.env
client/.env

# Ignore .gitignore files in both Client and Server
server/.gitignore
client/.gitignore

# Ignore other Client-specific files and directories
client/.pnp
client/pnp.js
client/coverage
client/build
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
